<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/card"
        android:label="Soliteck"
        android:roundIcon="@drawable/card"
        android:supportsRtl="true"
        android:theme="@style/AppTheme_NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".aeps_activity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".layout_banklist"
            android:exported="false" />
        <activity
            android:name=".new_dth_activity"
            android:exported="false" />
        <activity
            android:name=".verifymobilenumberActivity"
            android:exported="false" />
        <activity
            android:name=".sendotp_registernumber"
            android:exported="false" />
        <activity
            android:name=".nav_drawer_layout"
            android:exported="false" />
        <activity
            android:name=".FlashActivity"
            android:exported="false" />
        <activity
            android:name=".New_content_dashboard"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentReceivedReportActivity"
            android:exported="false" />
        <activity
            android:name=".LatestReportActivity"
            android:exported="false" />
        <activity
            android:name=".MyEarningReportActivity"
            android:exported="false" />
        <activity
            android:name=".Registration_page"
            android:exported="false" />
        <activity
            android:name=".LedgerReportActivity"
            android:exported="false" />
        <activity
            android:name=".TransactionsReportActivity"
            android:exported="false" />
        <activity
            android:name=".BeneficieryActivity"
            android:exported="false" />
        <activity
            android:name=".RemitterRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".OrderReceiptActivity"
            android:exported="false" />
        <activity
            android:name=".DthechargeInfoActivity"
            android:exported="false" />
        <activity
            android:name=".OperatorsActivity"
            android:exported="false" />
        <activity
            android:name=".MobileRechargePlansActivity"
            android:exported="false" />
        <activity
            android:name=".RechargeConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".CompanyBankListActivity"
            android:exported="false" />
        <activity
            android:name=".MobileROfferActivity"
            android:exported="false" />
        <activity
            android:name=".RechargePlansActivity"
            android:exported="false" />
        <activity
            android:name=".MoneyTransferActivity"
            android:exported="false" />
        <activity
            android:name=".PayRequestHistoryActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".StatementReportActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".PaymentRequestActivity"
            android:exported="false" />
        <activity
            android:name=".DataCardRechargeActivity"
            android:exported="false" />
        <activity
            android:name=".PostpaidRechargeActivity"
            android:exported="false" />
        <activity
            android:name=".KYC_page"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".ContactUsActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".DTHRechargeActivity"
            android:exported="false" />
        <activity
            android:name=".MobileRechargeActivity"
            android:exported="false" />
        <activity
            android:name=".HistoryTransactionsActivity"
            android:exported="false" />
        <activity
            android:name=".OtpVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>